<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.faith.fd">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".FaithApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.DiDiActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.PropAnimActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.anim.SmallBallActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.memoryleak.MemoryActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.bitmap.LoadBitmapActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.eventdistribute.EventDistributeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.ScrollViewActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.MovieActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.CustomActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.CutVideoActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.PlayVideoActivity"
            android:screenOrientation="portrait"/>

        <receiver
            android:name=".recivier.LocalRecivier"
            android:exported="true">

            <intent-filter>
                <action android:name="com.faith.fd.USER_ACTION"/>
            </intent-filter>
            <category android:name="com.ylian.ylzs"/>
        </receiver>
    </application>

</manifest>